

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./base/base";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/sections";
@import "./components/restaurant-Map";
@import "./components/presentation";
@import "./components/fonctionnement";
@import "./pages/carte";




html {
    height: map-get($size, cover-height);
    width: map-get($size, cover-width);

}

body {
    color: $text-colour-black;
    @include mobile-only {
        color: $text-colour-black;
    }
}