.footer {
    width:map-get($size, cover-width);
    height: map-get($size, cover-height);
    background-color: $background-colour-dark;
    &__logo {
        width: 25%;
        height: 25%;
        margin: 30px 20px 10px 30px;
        @include invert-color;
    }
    &__nav {
        &__link{
            color: $text-colour-white;
            @include flex-row-start;
            margin: 0px 20px 0px 30px;
            &__icon {
                margin:  10px 10px 10px 0px;
            }
            &__paragraph {
                margin:  10px 10px 10px 0px;
                font-size: map-get($police, police-size-small);
                font-weight: map-get($weight, font-weight-light);
                &__last {
                    margin-bottom: 40px;
                }
            }
            
        }
       
    }
}
