.footer {
    width:map-get($size, cover-width);
    height: 10%;
    padding: 2px;
    background-color: $background-colour-dark;
    &__logo {
        width: 30%;
        height: 25%;
        margin: 30px 20px 10px 20px;
        @include invert-color;
    }
    &__nav {
        &__link{
            color: $text-colour-white;
            @include flex-row-start;
            margin: 0px 20px 0px 20px;
            padding: 2px;
            @include mobile-only {
                height: 25px;
            }
            &__icon {
                margin:  10px 10px 10px 0px;
            }
            &__paragraph {
                margin:  10px 10px 10px 0px;
                font-size: map-get($police, police-size-small);
                font-weight: map-get($weight, font-weight-light);
                @include mid-screen {
                    font-size: map-get($police, police-size-very-small);
                    font-weight: map-get($weight, font-weight-light);
                }
                @include mobile-only {
                    font-weight: map-get($weight, font-weight-negative);
                }
                @include small-mobile {
                    font-size: map-get($police, police-size-hypra-small);
                    
                }
            }
            
        }
        & > .link-last {
            margin-bottom: 30px;
        }
    }
}
