.header {
    width: map-get($size, cover-width);
    height: map-get($size, cover-height);
    @include heading-shadow;
    &__logo {
        display: block;
        margin: 20px auto ;
        height: 60%;
        width: 40%;
    }
}

