.fonctionnement {
    &__title {
        width: 50%;
        text-align: center;
        padding: map-get($padding, padding-s);
        font-size: map-get($police ,police-size-medium);
        font-weight:map-get($weight , font-weight-medium);
        margin: auto;
        margin-bottom: 20px;
        @include mobile-only {
            margin: 5px 5px 5px 5px;
            text-align: start;
        }
    }
    &__btn{
        @include flex-column;
        align-items: center;
        &__link {
            display: block;
            width: 350px;
            height: 80px;
            @include btn-grey;
            margin-bottom: 20px;
            @include mobile-only {
                width: 90%;
                height: 80px;
            }
            position: relative;
            &__first {
                position: absolute;
                top: 42%;
                left: -8px;
                font-size: map-get($police,police-size-mega-small);
                @include circle-purple;     
            }
            &__second {
                margin-right: 10%;
                font-size: map-get($police,police-size-very-small);
            }
        }
       
    }
    
}