.body-page {
    background-color: $background-colour-lightergrey;
}

.headerpage {
    width: map-get($size, cover-width);
    height: map-get($size, cover-height);
    background-color: $background-colour-lighter; 
    position: relative;
    padding: 5px;
    &__logo {
        display: block;
        margin: 15px auto ;
        height: 50%;
        width: 40%;
    }
    &__iconlink {
            display: block;
            color: black;
            text-decoration: none;
            margin: 15px auto ;
        &:visited {
            color: black;
            text-decoration: none;
        }
        position: absolute;
        top: 21%;
        left: 10px;
        font-weight: map-get($weight , font-weight-super-strong) ;
        font-size: map-get($police, police-size-big);
        @include mobile-only {
            font-weight: map-get($weight , font-weight-super-medium) ;
            font-size: map-get($police, police-size-small);
            top: 12%;
        }
    }
    
}
