.menu {
    width: map-get($size, cover-width);
    height: 100%;
    position: relative;
    background-color: $background-colour-lightergrey;
    &__img {
        width: map-get($size, cover-width );
        height: 500px;
        object-fit: cover;
        @include mobile-only {
            width: map-get($size, cover-width );
            height: 200px;
        }
        
    }
    &__title {
        @include Head-title-menu-styling;
        @include mobile-only {
            @include Head-title-menu-styling-phone;
        }
        
        
    }
    &__title i {
        margin-left: 30px;
        @include mobile-only {
            @include I-menu-styling-phone;
        }
    }
    &__entrees {
        @include section-menu-styling;
        @include mid-screen {
            @include MidScreen-section-styling;
        }
        &__title{
           @include Title-menu-styling;
           @include mobile-only {
            margin-top: 40px;
           }
        }
        &__title::after {
            @include border-green
        }
        &__choix {
            @include Choix-menu-styling;
            @include mid-screen {
               @include MidScreen-Choix-menu-styling;
            }
            @include mobile-only {
                @include mobile-Choix-menu-styling;
            }
            @for $i from 1 to $number-choix {
                &--#{$i}{
                animation-delay: $animation-delay * $i;
                }
            }
            &:hover {
                .menu__entrees__choix__btn {
                    transform: scale(100%);
                    .fa-solid {
                        transform: rotate(1turn);
                    }
                }
                .menu__entrees__choix__prix {
                    transform: translateX(-400%);
                    @include mid-screen {
                        transform: translateX(-470%);
                    }
                    @include mobile-only {
                        transform: translateX(-360%);
                    }
                    @include small-mobile {
                        transform: translateX(-250%);
                    }
                    
                }
                .menu__entrees__choix__description {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                    
                }
                .menu__entrees__choix__nom {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                }
            }

            &__nom {
               @include Nom-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__description {
               @include Description-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__prix {
                @include Prix-menu-styling;
            }
            &__btn {
                @include btn-green-light;
                 & > .fa-solid{
                    @include btn-green-light-i;
                    font-size: 150%;
                    @include mobile-only {
                     font-size: 100%;
                    }
                 }
             }
        }
    }
    &__plats {
        @include section-menu-styling;
        @include mid-screen {
            @include MidScreen-section-styling;
        }
        &__title{
            @include Title-menu-styling;
        }
        &__title::after {
            @include border-green;
           
        }
        &__choix {
            @include Choix-menu-styling;
            @include mid-screen {
                @include MidScreen-Choix-menu-styling;
             }
            @include mobile-only {
                @include mobile-Choix-menu-styling;
            }
            @for $i from 1 to $number-choix {
                &--#{$i}{
                animation-delay: $animation-delay * $i;
                }
            }

            &:hover {
                .menu__plats__choix__btn {
                    transform: scale(100%);
                    .fa-solid {
                        transform: rotate(1turn);
                    }
                }
                .menu__plats__choix__prix {
                    transform: translateX(-400%);
                    @include mid-screen {
                        transform: translateX(-470%);
                    }
                    @include mobile-only {
                        transform: translateX(-360%);
                    }
                    @include small-mobile {
                        transform: translateX(-250%);
                    }
                }
                .menu__plats__choix__description {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                    
                }
                .menu__plats__choix__nom {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                }
            }
           
            &__nom {
               @include Nom-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__description {
               @include Description-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__prix {
                @include Prix-menu-styling;
            }
            &__btn {
                @include btn-green-light;
                 & > .fa-solid{
                    @include btn-green-light-i;
                    font-size: 150%;
                    @include mobile-only {
                     font-size: 100%;
                    }
                 }
             }
        }

    }
    &__desserts {
        @include section-menu-styling;
        @include mid-screen {
            @include MidScreen-section-styling;
        }
        &__title{
            @include Title-menu-styling;
        }
        &__title::after {
            @include border-green;
        }
        &__choix {
            @include Choix-menu-styling;
            @include mid-screen {
                @include MidScreen-Choix-menu-styling;
             }
            @include mobile-only {
                @include mobile-Choix-menu-styling;
            }
            @for $i from 1 to $number-choix {
                &--#{$i}{
                animation-delay: $animation-delay * $i;
                }
            }
            &:hover {
                .menu__desserts__choix__btn {
                    transform: scale(100%);
                    .fa-solid {
                        transform: rotate(1turn);
                    }
                }
                .menu__desserts__choix__prix {
                    transform: translateX(-400%);
                    @include mid-screen {
                        transform: translateX(-470%);
                    }
                    @include mobile-only {
                        transform: translateX(-360%);
                    }
                    @include small-mobile {
                        transform: translateX(-250%);
                    }
                }
                .menu__desserts__choix__description {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                    
                }
                .menu__desserts__choix__nom {
                    @include mid-screen {
                        width: 60%;
                    }
                    
                }
            }

            &__nom {
               @include Nom-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__description {
               @include Description-menu-styling;
               @include mobile-only {
                @include mobile-Description-menu-styling;
            }
            
            }
            &__prix {
                @include Prix-menu-styling;
            }
            &__btn {
               @include btn-green-light;
                & > .fa-solid{
                    @include btn-green-light-i;
                    font-size: 150%;
                    @include mobile-only {
                     font-size: 100%;
                    }
                }
            }
        }
    }
    &__btn {
        @include btn-violet;
        margin-left: 39%;
        margin-bottom: 30px;
        transition: all 550ms ease-in-out;
        @include mobile-only {
            margin: auto;
            margin-bottom: 30px;
        }
        &:hover {
            opacity: 0.9;
            @include shadow-amplify;
        }
        &__rempli {
            @include position-absolute-inherit;
            opacity: 0;
            transition: opacity 200ms;
        }
    }
}